html,body {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    height: auto;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: auto;
    background-image: url(/src/utils/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
