html,body {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: auto;
    background-image: url('https://marjanus.github.io/contactify/src/utils/background.png');
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: 400;
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input, textarea, select, button {
    font-family: 'Open Sans', sans-serif;
}

input, select {
    height: 36px;
    padding-left: 10px;
    border: 2px solid #213b3d;
    background-color: #eaeae8;
    color: #4f4d43;
    font-size: 16px;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.top-container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

.header-switcher, .filters-bar button, th {
    font-weight: 600;
}

header {
    border-bottom: 4px solid #18363c;
    background-color: #1b3c43;
}

header .top-container {
    min-height: 90px;
}

header .top-container > div {
    align-self: center;
    flex: 1;
}

.header-logo {
    position: relative;
    bottom: 5px;
}

.header-logo h1 {
    margin: 0;
}

.header-logo i.fa-user {
    font-size: 12px;
}

header .top-container > .header-switcher {
    flex: 2;
}

.header-switcher, .header-search {
    padding-left: 16px;
}

.header-switcher ul {
    display: flex;
    border-radius: 18px;
    background-color: #0ca1bb;
}

.header-switcher li {
    margin: 1px 0;
    padding: 9px 0;
    color: #fff;
    text-align: center;
    line-height: 18px;
    flex: 1;
}

.header-switcher li.active {
    background-color: #198593;
}

.header-search input, .header-search button {
    margin: 0;
    box-sizing: border-box;
}

.header-search input {
    max-width: 200px;
    border: 0;
    border-radius: 18px 0 0 18px;
}

.header-search button {
    width: 34px;
    height: 36px;
    border: 0;
    border-radius:  0 18px 18px 0;
    background-color: #d8d8ce;
    color: #4f4d43;
    font-size: 16px;
}

#profile-dropdown {
    display: flex;
    color: #fff;
    justify-content: flex-end;
    align-self: flex-start;
}

#profile-dropdown > div {
    background-color: #0ca1bb;
    font-size: 16px;
}

#profile-dropdown i {
    font-size: 14px;
}

.profile-dropdown-switcher {
    display: flex;
    width: 185px;
    height: 36px;
    border-radius: 0 0 8px 8px;
    line-height: 24px;
    align-items: center;
    cursor: pointer;
}

.profile-dropdown-switcher .fa-user {
    padding:0 10px;
}

.profile-dropdown-switcher .fa-sort-desc {
    position: relative;
    bottom: 4px;
    left: 20px;
}

.profile-dropdown-list {
    position: absolute;
    top: 50px;
    width: 210px;
    box-sizing: border-box;
    border: 2px solid #08829a;
    border-radius: 8px 0 8px 8px;
    z-index: 2;
}

.profile-dropdown-list ul {
    margin: 0;
}

.profile-dropdown-list li {
    padding: 9px 0;
}

.profile-dropdown-list li:not(:first-child){
    border-top: 1px solid #22acc8;
}

.profile-dropdown-list li:not(:last-child){
    border-bottom: 1px solid #0892ae;
}

.profile-dropdown-list li i.fa {
    padding: 0 10px;
}

.filters-bar {
    padding: 20px 0 35px;
}

.filters-bar .top-container > div {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filters-bar form {
    width: 100%;
}

.filters-bar form input[type="checkbox"], .filters-bar form span, .filters-bar form button {
    margin-left: 20px;
}

.filters-bar select, .filters-bar input, .filters-bar button {
    border-radius: 18px;
}

.filters-bar input[type="text"] {
    width: 20%;
}

.filters-bar select {
    margin-left: 16px;
}

.filters-bar select option {
    background-color: #fff;
    vertical-align: top;
}

.filters-bar form > input[type="checkbox"],filters-bar form > span {
    position: relative;
    bottom: 3px;
    vertical-align: middle;
}

.filters-bar input[type="checkbox"] {
    width: 16px;
    height: 16px;
    outline: 3px solid #2a4344;
    color: #217f7a;
}

.filters-bar span  {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
}

.filters-bar form button[type="submit"] {
    padding: 6px 30px;
    border: 2px solid #5d9498;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    text-transform: uppercase;
}


button.add-contact {
    position: absolute;
    right: 0;
    border: none;
    padding: 7px 0;
    background-color: #217f7a;
    color: #fff;
}

button.add-contact i {
    margin-left: 5px;
    padding: 5px;
    border-radius: 50%;
    background-color: #1a6662;
    font-size: 14px;
}

button.add-contact span {
    padding: 0 25px 0 20px;
}

section.content {
    border-top: 6px solid rgba(0, 0, 0, .2);
    flex: 1;
}

.contacts-container {
    display: flex;
    margin-bottom: 45px;
}

.contacts-container aside {
    flex: 1;
}

.active-contact {
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.active-contact .image-container {
    text-align: center;
    line-height: 0;
}

.active-contact img {
    max-width: 190px;
    height: auto;
    margin-top: 10px;
    border: 4px solid #d8d8ce;
    border-radius: 50%;
}

.active-contact .data-container {
    overflow-y: hidden;
}

.active-contact .data-container span {
    display: inline-block;
    font-size: 14px;
}

.active-contact .data-container span a {
    color: #0094BC;
}

.active-contact .data-container span:first-child {
    width: 40%;
    padding-right: 10px;
    color: #848484;
    text-align: right;
    box-sizing: border-box;
    vertical-align: top;
}

.active-contact .data-container span:last-child {
    width: 60%;
    color: #4F4D43;
    word-break: break-all;
}

.contacts-container main {
    flex: 4;
    padding-left: 16px;
}

.contacts-container main table {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}

.contacts-container main th {
    padding: 16px 0;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
}

.contacts-container main th:first-child {
    border-radius: 8px 0 0 0;
    background-color: #0086a5;
}

.contacts-container main th:first-child i {
    position: relative;
    padding-right: 10px;
    font-size: 14px;
    top: 5px;
    float: right;
    font-weight: 400;
}

.contacts-container main th:nth-of-type(2) {
    padding-left: 25px;
    background-color: #0390ae;
    text-align: left;
}

.contacts-container main th:nth-of-type(3) {
    padding-left: 15px;
    background-color: #0799b8;
    text-align: left;
}

.contacts-container main th:nth-of-type(4){
    padding-left: 15px;
    background-color: #0dadca;
    text-align: left;
}

.contacts-container main th:nth-of-type(5){
    padding-right: 20px;
    background-color: #11b6d4;
    text-align: right;
}

.contacts-container main th:last-child {
    border-radius: 0 8px 0 0;
    background-color: #14c0dd;
}

.contacts-container main tr {
    cursor: pointer;
}

.contacts-container main tr.active-row {
    background-color: #e6f6f9;
}


.contacts-container main td {
    padding: 10px 0;
    color: #4f4d43;
    font-size: 16px;
    line-height: 24px;
}

.contacts-container main td i {
    position: relative;
    bottom: 1px;
    font-size: 14px;
}

.contacts-container main td:first-child i {
    padding: 0 15px;
}

.contacts-container main td:nth-of-type(2) {
    padding-left: 25px;
}

.contacts-container main td:nth-of-type(3), .contacts-container main td:nth-of-type(4) {
    padding-left: 15px;
}

.contacts-container main td:nth-of-type(5) {
    padding-right: 20px;
    text-align: right;
}

.contacts-container main tr:not(:last-child) td {
    border-bottom: 1px solid #eaeae8;
}

.contacts-container main tr td:last-child i {
    margin-left: 10px;
    padding: 5px;
    border-radius: 8px;
    font-size: 14px;
}

.contacts-container main tr.active-row td:last-child i {
    background-color: #11b6d4;
    color: #fff;
}

footer {
    min-height: 148px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.footer-paragraph {
    display: inline-block;
}

.sync-paragraph {
    position: relative;
    float: right;
    clear: right;
    right: 20px;
    top: 10px;
}

footer .top-container > div {
    padding-left: 16px;
    font-size: 15px;
    line-height: 15px;
}

footer .top-container > div:first-child {
    padding-left: 0;
}

footer .top-container > div:first-child, footer .top-container > div:nth-of-type(2) {
    flex: 2;
}

footer .top-container > div:first-child  ul:nth-of-type(2) li {
    display: inline-block;
}

footer .top-container > div:first-child  ul:nth-of-type(2) li:not(:first-child) {
    margin-left: 10px;
}

footer .top-container > div:nth-of-type(2) {
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 21px;
}

footer .top-container > div:nth-of-type(2) > div:first-child {
    border-bottom: 1px solid #102d40;
}

footer .top-container > div:nth-of-type(2) > div:last-child {
    border-top: 1px solid #284457;
}

footer .fa-cloud-upload, footer .fa-stethoscope {
    font-size: 36px;
    padding: 0 20px
}

footer .fa-refresh {
    margin-right: 5px;
}

footer .top-container > div:last-child {
    line-height: 15px;
    flex: 1;
}

footer .top-container > div a {
    color: #fff;
}

footer .top-container > div:last-child a {
    margin-left: 8px;
}

@media(min-width: 1921px) {
    body {
        background-size: cover;
    }
}
